.outer {
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 73%;
    height: 90%;
    margin-left: 2%;
    color: white;
}

.title{
    padding: 2vw 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 800;
}

.graphouter{
    padding: 1vw;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem
}

.graphinner{
    height: 33.5vh;
    width: 34.2vw;
}