body, html, *{
  box-sizing: border-box;
  background-color: transparent;
}

body , h1 , h2 , h3 , p , ul , ol , li {
  margin: 0;
  padding: 0;
}

button{
  background-color: #448aff;
  padding: 0.75% 1.5% 0.75% 1.5%;
  border-color: transparent;
  font-size: medium;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 5px;
  transition: ease 0.3s, box-shadow 0.3s ease;
}

button:hover{
  box-shadow: 0px 10px 15px 1px rgba(55, 65, 211, 0.495);
  transform: translateY(-5px);
  cursor: pointer;
}